################################################################################
# Visual Studio
################################################################################
/.vs

################################################################################
# Docusaurus / Node
################################################################################
node_modules/
docusaurus/
.docusaurus/
.cache/
.tmp/
.pnpm-store/

################################################################################
# Local leftovers
################################################################################
.site/
.venv/
mkdocs-server.*.log
docusaurus-serve.*.log
docusaurus-static.*.log
